<div class="featured-section">
  <% if @featured_collection_list.empty? %>
    <p id='no-collections'><%= t('hyrax.homepage.featured_collections.no_collections') %></p>
  <% elsif can? :update, FeaturedCollection %>
    <%= form_for [main_app, @featured_collection_list] do |f| %>
      <div class="dd" id="ff">
        <ol id="featured_works">
          <%= f.fields_for :featured_collections do |featured| %>
            <%= render 'sortable_featured_collections', f: featured %>
          <% end %>
        </ol>
      </div>
      <%= f.submit("Save order", class: 'btn btn-primary') %>
    <% end %>
  <% else %>
    <%= render 'featured_collections' %>
  <% end %>
  <div class="d-flex">
    <%= link_to main_app.search_catalog_path(f: { generic_type_sim: ["Collection"]}), class: 'btn btn-primary mt-4 ml-auto' do %>
      <%= t('hyrax.homepage.admin_sets.link') %>
      <span class="fa fa-caret-right"></span>
    <% end %>
  </div>
</div>
