<div class="featured-section">
  <h2 class="mt-5"><%= t('hyrax.homepage.admin_sets.title') %></h2>
  <div class="featured-collections-items">
    <div class="col-12 col-sm-7 featured-collections-card-wrapper">
      <%# The large featured collection on the left column %>
      <% featured_collection = @featured_collection_list.featured_collections.first.presenter %>
      <%= link_to [hyrax, featured_collection], class: 'large-card' do %>
        <div class="collection-thumbnail">
          <%= render_thumbnail_tag(featured_collection,
                                   { alt: "#{featured_collection.title_or_label} #{t('hyrax.homepage.admin_sets.thumbnail')}" },
                                   { suppress_link: true } ) %>
          <div class="collection-info px-4 py-4">
            <h3 class="collection-title"><%= featured_collection.title.join(' | ') %></h3>
            <p class="collection-description"><%= featured_collection.description.join(' | ').truncate(250, separator: ' ') %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-5 featured-collections-column-wrapper">
      <div class="featured-collections-column-scroll d-flex">
        <%# The smaller featured collections on the right column %>
        <% @featured_collection_list.featured_collections.drop(1).each do |collection| %>
          <% featured_collection = collection.presenter %>
          <%= link_to [hyrax, featured_collection], class: 'small-card' do %>
            <div class="collection-thumbnail">
              <%= render_thumbnail_tag(featured_collection,
                                        { alt: "#{featured_collection.title_or_label} #{ t('hyrax.homepage.admin_sets.thumbnail')}" },
                                        {suppress_link: true} ) %>
              <div class="collection-info py-1 px-4">
                <h3 class="collection-title"><%= featured_collection.title.join(' | ') %></h3>
                <p class="collection-description"><%= featured_collection.description.join(' | ').truncate(120, separator: ' ') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
