<ul id="user_utility_links" class="navbar-nav ml-auto">
  <%= render 'shared/locale_picker' if available_translations.size > 1 %>
  <%#= Nav Links added here to improve mobile responsivity %>
  <li class="nav-item <%= 'active' if current_page?(hyrax.root_path) %>">
    <%= link_to t(:'hyrax.controls.home'), hyrax.root_path, class: 'nav-link', aria: current_page?(hyrax.root_path) ? {current: 'page'} : nil %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(hyrax.about_path) %>">
    <%= link_to t(:'hyrax.controls.about'), hyrax.about_path, class: 'nav-link', aria: current_page?(hyrax.about_path) ? {current: 'page'} : nil %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(hyku_knapsack.resources_path) %>">
    <%= link_to t(:'hyrax.controls.resources'), hyku_knapsack.resources_path, class: 'nav-link', aria: current_page?(hyku_knapsack.resources_path) ? {current: 'page'} : nil %>
  </li>

  <li class="nav-item <%= 'active' if current_page?(hyrax.contact_path) %>">
    <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path, class: 'nav-link', aria: current_page?(hyrax.contact_path) ? {current: 'page'} : nil %>
  </li>

  <% if user_signed_in? %>
    <li class="nav-item">
      <%= render_notifications(user: current_user) %>
    </li>
    <li class="nav-item dropdown">
      <%= link_to hyrax.dashboard_profile_path(current_user), class: 'nav-link dropdown-toggle', id: 'navbarDropdown', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
        <span class="sr-only"><%= t("hyrax.toolbar.profile.sr_action") %></span>
        <%= current_user.name %>
        <span class="sr-only"> <%= t("hyrax.toolbar.profile.sr_target") %></span>
        <i class="fa fa-user" aria-hidden="true"></i>
      <% end %>
      <div id="user-util-links" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= hyrax.dashboard_path %>"><%= t("hyrax.toolbar.dashboard.menu") %></a>
	<% if Flipflop.show_login_link? || current_ability.user_groups.include?('admin') %>
          <div class="dropdown-divider"></div>
          <% if Devise.mappings[:user]&.registerable? %>
            <a class="dropdown-item" href="<%= main_app.edit_user_registration_path %>"><%= t("hyku.toolbar.profile.edit_registration") %></a>
          <% end %>
          <a class="dropdown-item" href="<%= main_app.destroy_user_session_path %>"><%= t("hyrax.toolbar.profile.logout") %></a>
	<% end %>
      </div>
    </li>
  <% else %>
    <% if Flipflop.show_login_link? %>
      <li class="nav-item">
	<%= link_to main_app.single_signon_index_path, class: 'nav-link' do %>
          <i class="fa fa-sign-in" aria-hidden="true"></i> <%= t("hyrax.toolbar.profile.login") %>
	<% end %>
      </li>
    <% end %>
  <% end %>
</ul>
